.live-container {
  border: 1px solid #fff;
  background-color: #fff;
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  padding: 1em;
  border-radius: 10px;
  text-align: center;
  color: #333;
  margin-top: 2em;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  /* min-height: 100px; */
}
